.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 40px;
  margin-bottom: 33px;
  margin-top: 32px;
}
.header__right {
  grid-gap: 12px;
  display: grid;
  gap: 12px;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  margin: 0 40px 0 0;
}
.header__left {
  grid-gap: 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: auto;
  grid-template-rows: 40px;
  margin: 0 0 0 40px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__avatar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__avatar-logo-container {
  display: flex;
  align-items: center;
  margin: 40px 0 0 0;
}
.header__date {
  margin-left: 24px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.header__name {
  margin-right: 12px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.header__link {
  color: #000;
  text-decoration: none;
  display: flex;
}

.header__button {
  margin-right: 50px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 20px;
}
.header__avatar-image {
  height: 40px;
  width: 40px;
}
.header__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.header__button-login {
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  background: none;
}
@media screen and (min-width: 823px) and (max-width: 1040px) {
  .header {
    max-width: 768px;
    padding-top: 20px;
  }

  .header__left {
    margin: 0 0 0 20px;
  }

  .header__right {
    margin: 0 20px 0 0;
  }

  .header__name {
    max-width: 100px;
  }
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .header {
    max-width: 375px;
  }

  .header__left {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
  }

  /* .header__right {
    display: none;
  } */

  .header__name {
    max-width: 100px;
  }

  .header__button {
    display: flex;
    border: none;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }

  .header__left {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
  }

  .header__right {
    display: none;
  }

  .header__name {
    max-width: 100px;
  }

  .header__button {
    display: flex;
    border: none;
  }
}
