.item__modal {
  display: flex;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.item__modal-content {
  position: relative;
  border-radius: 16px;
  background-color: white;
}
.item__modal-description {
  display: flex;
  color: black;
  padding: 0 12px 12px;
  font-size: 20px;
  line-height: 20px;
  flex-direction: column;
  margin-top: 12px;
  gap: 14px;
}
.item__modal-image {
  height: 328px;
  width: 328px;
  border-radius: 16px;
  border-bottom: none;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.modal__button-delete {
  width: 101px;
  height: 24px;
  border: none;
  color: #ff4d00;
  background-color: #fff;
  cursor: pointer;
  margin-top: 15px;
  padding-right: 32px;

  display: flex;
  align-items: center;
  left: 225px;
  bottom: 25px;
  position: absolute;
  font-size: 20px;
  line-height: 24px;
}
