.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: white;
  max-width: 440px;
  width: 100%;
  height: 436px;
  border-radius: 20px;
  padding: 28px 28px 0 28px;

  position: relative;
  line-height: 20px;
  font-size: 16px;
}
.modal__content_editProfile {
  height: 304px;
}
.modal__content_login {
  height: 304px;
}
.modal__button-close {
  background-image: url(../images/close-button.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: transparent;
  top: 23px;
  right: 31px;
  border: none;
}
.modal__button-close:hover {
  cursor: pointer;
  opacity: 0.6;
}
.modal__button-submit {
  /* height: 36px;
  width: 124px;
  margin-bottom: 36px;
  border-radius: 4px;
  background-color: black;
  color: white;
  line-height: 20px;
  font-size: 16px;
  border: none; */
  margin: 32px 0 0 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 124px;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;

  font-weight: 700;
}
.modal__button-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: baseline;
}
.modal__button-submit:hover {
  cursor: pointer;
  opacity: 0.6;
}
.modal__title {
  margin: 0 0 24px 0;
  font-size: 16px;
}

.modal__labels {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
}
.modal__label::placeholder {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.modal__input {
  border: none;
  max-width: 440px;
  width: 100%;
  padding: 8px 0 4px 0;
  border-bottom: 1px solid black;
}
.modal__radio-input {
  height: 16px;
  width: 16px;
  gap: 8px;
  margin: 2px 0 0;
  cursor: pointer;
}
.modal__radio {
  display: flex;
  gap: 12px;
}
.modal__radios {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 34px;
}
.delete__confirmation {
  height: 300px;
  width: 670px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  padding: 60px;
  border-radius: 8px;
  background: #fff;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.delete__confirmation p {
  margin: 0;
  font-size: 20px;
}
.delete__confirmation-buttons {
  width: 138px;
  margin: 40px;
  left: 220px;
  position: absolute;
}
.delete__button_confirm {
  font-size: 15px;
  font-weight: 700;
  width: fit-content;
  padding: 0;
  margin: 10px 0 0 0;
  color: red;
  border: none;
  background-color: #fff;
}
.delete__button_confirm:hover {
  opacity: 0.6;
  cursor: pointer;
}
.delete__button_cancel {
  border: none;
  margin: 24px 0 0 0;
  padding: 0;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
}
.delete__button_cancel:hover {
  cursor: pointer;
  opacity: 0.6;
}
.delete__confirmation-close {
  background-color: white;
  border: none;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 10px;
  top: 22px;
  margin-right: 20px;
}
.delete__confirmation-close:hover {
  opacity: 0.6;
  cursor: pointer;
}
.modal__content-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  padding: 20px;
}
.delete__text {
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.modal__link {
  position: relative;
  left: 150px;
  top: 65px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
@media screen and (min-width: 375px) and (max-width: 822px) {
  .modal {
    width: 375px;
    display: flex;
    width: 100%;
  }
  .modal__content {
    width: 275px;
  }

  .modal__input {
    width: 250px;
  }

  .modal__label {
    font-size: 12px;
    font-weight: 700;
    margin: 20px 0 0 18px;
    width: 365px;
  }

  .modal__title {
    margin: 20px 0 0 16px;
  }

  .modal__add {
    width: 343px;
    height: 44px;
    margin: 34px 16px 32px 16px;
  }
}
