.sidebar {
  max-width: 100%;
  display: flex;
  align-self: flex-start;
  flex-wrap: nowrap;
  flex-flow: row;
}
.sidebar__container {
  color: white;
  padding: 0 0 0 40px;
  margin: 0 0 0 150px;
  font-size: 36px;
  font-weight: 700;
}
.sidebar__name {
  margin: 0;
  padding: 47px 0 0 0;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
}
.sidebar__avatar {
  padding: 47px 16px 0 40px;
  box-sizing: border-box;
  height: 56px;
  width: 56px;
}
