.weather {
  position: relative;
}
.weather__temp {
  position: absolute;
  top: 10px;
  left: 16px;
  color: white;
  font-size: 36px;
  line-height: 40px;
}
.weather_image {
  width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 822px) {
  .weather {
    max-width: 768px;
  }

  .weather_image {
    border-radius: 20px;
    object-fit: none;
    object-position: 100% 0;
    height: 120px;
    left: 16px;
    top: 134px;
    width: 390px;
  }

  .weather__temp {
    font-size: 36px;
  }
}
